<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Qxd_Customreports::custom" title="YOY Sales" module="Qxd_Customreports" sortOrder="1" action="qxd_customreports/manager" resource="Qxd_Customreports::custom" parent="Magento_Reports::report_salesroot"/>
    </menu>
</config>