<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="qxd_s3" frontName="qxd_s3">
            <module name="Qxd_S3" />
        </route>
    </router>
</config>