<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Qxd\Rewardpoints\Api\WebServiceRepositoryInterface" type="Qxd\Rewardpoints\Model\Resource\WebServiceRepository" />
</config>